# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\BoB10_SEDR\HurryUp_Agent_Manager\Src\HurryUp_Agent_Manager\ codebase based on best match to current usage at 2021-11-23
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true

[*]
charset = utf-8

	